{block all}
    {snippet rows}
    {block content}
        {form form}
            <table class="table table-striped table-condensed table-hover">
                <thead>
                {block header}
                    <tr>
                        {foreach $columns as $column}
                            <th {if $column->getSize()}style="width: {$column->getSize()}%" {/if}>
                                {ifset $translator}
                                {_ $column->getLabel()}
                                {else}
                                {$column->getLabel()}
                                {/ifset}
                                {if $column->isSortable()}
                                    {var $orderBy = isset($_orderBy[$column->getName()]) ? !(bool)$_orderBy[$column->getName()] : true}
                                    <a href="{link orderBy!, $column->getName(), $orderBy}">{if $orderBy}▼{else}▲{/if}</a>
                                    <a href="{link removeOrderBy!, $column->getName()}" n:if="isset($_orderBy[$column->getName()])">X</a>
                                {/if}
                            </th>
                        {/foreach}
                        {block header-links}
                            <th></th>
                        {/block}
                    </tr>
                {/block}
                {ifset $_form['filter']}
                {block filter}
                    <tr>
                        {formContainer filter}
                        {foreach $columns as $column}
                            <th>
                                {if isset($_form[$column->getName()])}
                                    {input $column->getName()}
                                {/if}
                            </th>
                        {/foreach}
                            <th class="text-right">{input filter, class => 'btn btn-sm btn-primary ajax'}</th>
                        {/formContainer}
                    </tr>
                {/block}
                {/ifset}
                </thead>
                <tbody n:inner-foreach="$data as $row">
                {block row}
                    {block row-opening-tag}<tr>{/block}
                    {block row-columns}
                        {foreach $columns as $column}
                            <td>{$column->formatValue($row)}</td>
                        {/foreach}
                    {/block}
                    {block row-links}
                        <td class="text-right">
                            {if count($links)}
                                {foreach $links as $link}
                                    {if $link->isValid($row)}
                                        {if $link->isSignal()}
                                            <a href="{link $link->getLink() (expand) $link->getArgs($row)}" class="btn btn-default btn-xs">{$link->getLabel()}</a>
                                        {else}
                                            <a href="{plink $link->getLink() (expand) $link->getArgs($row)}" class="btn btn-default btn-xs">{$link->getLabel()}</a>
                                        {/if}
                                    {/if}
                                {/foreach}
                            {/if}
                        </td>
                    {/block}
                    {block row-closing-tag}</tr>{/block}
                {/block}
                </tbody>
            </table>
        {/form}
    {/block}
    {/snippet}
{/block}
